<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-role-activity-heading" jhiTranslate="informationManagerApp.roleActivity.home.createOrEditLabel">Create or edit a Role Activity</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!roleActivity.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="roleActivity.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informationManagerApp.roleActivity.roles" for="field_roles">Roles</label>
                    <select class="form-control" id="field_roles" name="roles" [(ngModel)]="roleActivity.roles"  required>
                        <option *ngIf="!editForm.value.roles" [ngValue]="null" selected></option>
                        <option [ngValue]="roleOption.id === roleActivity.roles?.id ? roleActivity.roles : roleOption" *ngFor="let roleOption of roles; trackBy: trackRoleById">{{roleOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.roles?.dirty && editForm.controls.roles?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.roles?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="informationManagerApp.roleActivity.activity" for="field_activity">Activity</label>
                    <select class="form-control" id="field_activity" name="activity" [(ngModel)]="roleActivity.activity"  required>
                        <option *ngIf="!editForm.value.activity" [ngValue]="null" selected></option>
                        <option [ngValue]="activityOption.id === roleActivity.activity?.id ? roleActivity.activity : activityOption" *ngFor="let activityOption of activities; trackBy: trackActivityById">{{activityOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.activity?.dirty && editForm.controls.activity?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.activity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
