<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="authenticationType">
            <h2><span jhiTranslate="informationManagerApp.authenticationType.detail.title">Authentication Type</span> {{authenticationType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="informationManagerApp.authenticationType.name">Name</span></dt>
                <dd>
                    <span>{{authenticationType.name}}</span>
                </dd>
                <dt><span jhiTranslate="informationManagerApp.authenticationType.token">Token</span></dt>
                <dd>
                    <span>{{authenticationType.token}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/authentication-type', authenticationType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
