<div>
    <h2 id="page-heading">
        <span jhiTranslate="informationManagerApp.staff.home.title">Staff</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-staff" [routerLink]="['/staff/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="informationManagerApp.staff.home.createLabel">
            Create new Staff
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="staff">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.firstName">First Name</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.lastName">Last Name</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.username">Username</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.email">Email</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.accountStatus">Account Status</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.password">Password</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.verifiedBy">Verified By</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.loginCount">Login Count</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.organisations">Organisations</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.internalGroup">Internal Group</span></th>
            <th><span jhiTranslate="informationManagerApp.staff.userTypes">User Types</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let staff of staff ;trackBy: trackId">
                <td><a [routerLink]="['/staff', staff.id, 'view' ]">{{staff.id}}</a></td>
                <td>{{staff.firstName}}</td>
                <td>{{staff.lastName}}</td>
                <td>{{staff.username}}</td>
                <td>{{staff.email}}</td>
                <td>{{staff.accountStatus}}</td>
                <td>{{staff.password}}</td>
                <td>{{staff.verifiedBy}}</td>
                <td>{{staff.loginCount}}</td>
                <td>
                    <div *ngIf="staff.organisations">
                        <a [routerLink]="['../organisation', staff.organisations?.id, 'view' ]" >{{staff.organisations?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="staff.internalGroup">
                        <a [routerLink]="['../internal-group', staff.internalGroup?.id, 'view' ]" >{{staff.internalGroup?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="staff.userTypes">
                        <a [routerLink]="['../user-type', staff.userTypes?.id, 'view' ]" >{{staff.userTypes?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/staff', staff.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/staff', staff.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'staff/'+ staff.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
